@import "../css/nivo-slider/nivo-slider.css";
@import "../css/nivo-slider/themes/light/light.css";

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  margin: 0;
}

footer {
  background-color: #282828;
  min-height: 50px;
  width: 100%;
  color: #f1f1f1;
}

.theme-bg-red {
  background-image: url("../img/rojo.jpg");
}
.theme-bg-green {
  background-image: url("../img/hojas.jpg");
}
.theme-bg-blue {
  background-image: url("../img/cielo.jpg");
}

.login a {
  color: #000;
  text-decoration: none;
  float: right;
}

#header {
  position: fixed;
  max-width: 1024px;
  background-color: #fff;
  top: 0;
  z-index: 999;
  width: 80%;
}

.container {
  width: 80%;
  max-width: 1064px;
  background-color: #fff;
  margin: 0px auto;
  padding-top: 200px;
  position: relative;
}

section {
  padding: 20px;
  width: 80%;
  background-color: #fff;
  min-width: 1024px;
  position: relative;
}

section#footer {
  padding: 20px 0px;
  background-color: #282828;
  height: 50px;
  color: #f1f1f1;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 100%;
}
h1 {
  padding: 20px;
  background-color: red;
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
}
#buscador {
  padding: 5px;
  background-color: #f1f1f1;
  min-width: 15vw;
  height: 35px;
}
nav {
  margin: 15px 0px 0px;
}
nav ul {
  background-color: #505050;
  display: flex;
  justify-content: start;
  padding: 20px;
  align-items: center;
  margin-bottom: 0px;
}

nav ul li {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  list-style: none;
  padding: 0 20px;
}
li a {
  color: #fff;
  text-decoration: none;
}

#carousel {
  background-color: red;
  min-height: 300px;
  margin: 40px 0px;
  width: auto;
}

#content {
  display: flex;
  justify-content: space-between;
}
#posts {
  width: 70vw;
  padding-right: 20px;
}
.post {
  max-width: 80%;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.post-title {
  font-size: 35px;
  font-weight: bold;
  color: #505050;
}
.post-date {
  color: #d6d6d6;
  font-size: 14px;
}

.comments {
  color: #fff;
  padding: 10px;
  background-color: red;
  font-size: 20px;
  margin-left: 20px;
}

.text-content {
  line-height: 25px;
}

#who-is {
  width: 30vw;
  padding: 30px;
}
.who-is-title {
  background-image: url("../img/lines.png");
  background-repeat: repeat-x;
  background-position: center;
}

.who-is-title > p {
  font-weight: bold;
  padding: 5px;
  background-color: #fff;
  width: max-content;
  margin: 0 auto;
}
.who-is-content {
  padding: 20px;
  line-height: 25px;
}
.theme-botoms {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 50%;
  left: 0px;
}
.theme-botoms > div {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
}
#red-theme {
  background-color: red;
}
#green-theme {
  background-color: green;
}
#blue-theme {
  background-color: blue;
}

.formulario-box {
  margin: 0px auto;
  width: 75%;
  margin-top: 20px;
}
.formulario {
  display: flex;
  flex-direction: column;
}
input {
  margin: 10px 0;
}

#accordion h3 {
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
}
#accordion h3 + div {
  padding: 20px;
}
.ui-state-active {
  background: cadetblue;
}
.reloj {
  color: #fff;
  position: absolute;
  right: 20px;
}
