@import "../css/nivo-slider/nivo-slider.css";
@import "../css/nivo-slider/themes/light/light.css";

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%;
}
p {
  margin: 0;
}

footer {
  min-height: 50px;
  width: 80%;
  color: #f1f1f1;
  padding: 20px;
}

footer > div {
  padding: 20px;
}
.theme-bg-red {
  background-image: url("../img/rojo.jpg");
}
.theme-bg-green {
  background-image: url("../img/hojas.jpg");
}
.theme-bg-blue {
  background-image: url("../img/cielo.jpg");
}

#login {
  color: #000;
  text-decoration: none;
  float: right;
  padding: 20px;
}
#login:hover {
  cursor: pointer;
}

.login {
  position: absolute;
  top: 0px;
  z-index: 6;
  max-width: 50%;
  right: 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  width: auto;
  padding: 20px;
  right: 20%;
  top: 50px;
  background-color: #fff;
}

.capa-login {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  content: "";
  z-index: 5;
  bottom: 0;
}

#header {
  max-width: 1024px;
  background-color: #fff;
  top: 0;
  width: 100%;
  margin: 0px auto;
}

.container {
  width: 80%;
  max-width: 1024px;
  background-color: #fff;
  margin: 0px auto;
  position: relative;
}

section,
header,
footer {
  width: 100%;
  background-color: #fff;
  max-width: 1024px;
  position: relative;
}

#footer {
  padding: 20px 0px;
  background-color: #282828;
  height: 50px;
  color: #f1f1f1;
  width: 100%;
  max-width: 1024px;
  margin-top: calc(100vh - 200px);
  margin: 0px auto;
}

article {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 100%;
}
h1 {
  padding: 20px;
  background-color: blue;
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
}
#buscador {
  padding: 5px;
  background-color: #f1f1f1;
  min-width: 15vw;
  height: 35px;
}
nav {
  margin: 15px 0px 0px;
}
nav ul {
  background-color: #505050;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0px;
}

nav ul li {
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  list-style: none;
  padding: 20px;
}

nav ul li:hover {
  cursor: pointer;
  background-color: #282828;
}

li {
  color: #fff;
  text-decoration: none;
}

#carousel {
  min-height: 300px;
  width: auto;
  max-height: 420px;
}

.theme-light.slider-wrapper {
  padding: 0px;
}

#content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}
#posts {
  width: 70vw;
}

.post-header {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  justify-content: space-between;
}

.post-title {
  font-size: 35px;
  font-weight: bold;
  color: #505050;
}
.post-date {
  color: #d6d6d6;
  font-size: 14px;
}
.post-content {
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.comments {
  color: #fff;
  padding: 10px;
  min-width: 150px;
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
}

.text-content {
  line-height: 25px;
}

#who-is {
  width: 30vw;
  padding: 30px;
}

.who-is-title {
  background-image: url("../img/lines.png");
  background-repeat: repeat-x;
  background-position: center;
}

.who-is-title > p {
  font-weight: bold;
  padding: 5px;
  background-color: #fff;
  width: max-content;
  margin: 0 auto;
}
.who-is-content {
  padding: 20px;
  line-height: 25px;
}
.theme-botoms {
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: auto;
  padding: 5px;
  position: fixed;
  top: 50%;
  left: 0px;
}
.theme-botoms > div {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
}
#red-theme {
  background-color: red;
}
#green-theme {
  background-color: green;
}
#blue-theme {
  background-color: blue;
}

.formulario-box {
  margin: 0px auto;
  width: 75%;
  margin-top: 20px;
}
.formulario {
  display: flex;
  flex-direction: column;
}
input {
  margin: 10px 0;
}

#accordion h3 {
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
}
#accordion h3 + div {
  padding: 20px;
  height: auto !important;
}
.ui-state-active {
  border: 1px solid #c5c5c5 !important;
}
.reloj {
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-transform: uppercase;
}

.nivoSlider img {
  z-index: 1;
}

.nivoSlider a.nivo-imageLink {
  z-index: 2;
}

.ir-arriba {
  display: none;
  padding: 20px;
  background: #024959;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.ir-arriba::after {
  content: "\021ea";
}
